// app global css in SCSS form
.text-brand {
  color: #00a352;
}
.bg-brand {
  background: #00a352;
}

.action-btn {
  font-size: 14px;
  width: 240px;
  height: 55px;
  padding: 0 37 0 37;
}

.btn-white {
  background-color: white;
  background: white !important;
  color: #ec1c23;
}
.btn-white:hover {
  background-color: #ec1c23;
  background: #ec1c23 !important;
  color: white;
}
.btn-white:hover:before {
  border: 0 !important;
}

// $typography-font-family         : 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default
// $button-border-radius           : 3px !default
// $button-padding                 : 4px 16px !default
// $button-dense-padding           : .285em !default
// $button-transition              : $generic-hover-transition !default
// $button-font-size               : 14px !default
// $button-line-height             : 1.715em !default
// $button-font-weight             : 500 !default
// $button-shadow                  : $shadow-2 !default
// $button-shadow-active           : $shadow-5 !default
// $button-rounded-border-radius   : 28px !default
// $button-push-border-radius      : 7px !default

// cores usadas no site
// red: #ec1c23
// yellow: #ffe400
// green: #05ae4c
